@import "reset.css";

body{
	min-height: 4966px ;
	min-width: 1577px ;
}

.wrapper{
	max-width: 1250px;
	margin: 0 auto;
}

.top_part {
	padding-top: 30px;
	background-color: #f6f2f2;
	height: 690px;
}

.header__nav {
	margin: 0 auto;
	display: grid;
	place-items: center;
	height:90px ;
	width:1250px ;
	background-color: #313030;
}

.header__nav li{
	padding: 35px 35px 36px 35px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.035em;
	text-transform: uppercase;
	color:#e0e0e0;
	display: inline;
}

.header__nav li:hover{
	cursor: pointer;
	background-color: #ff3f40;
	transition: all 0.3s ease-out;
}

.current-page{
	background-color: #ff3f40;
}

.discription__content{
	
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.discription__content_info{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
}

.discription__content_title {
	margin-top: 100px;
	margin-bottom: 35px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	line-height: 72px;
	letter-spacing: 0.025em;
	font-weight: 800;
	font-size: 60px;
	color: black;
	
}

.discription__content_title span {
	letter-spacing: 0.1em;
	display: block;
}

.discription__content_text {
	margin-bottom: 60px;
	max-width: 510px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #6f6d6d;
	line-height: 28px;
}

.discription__content_video {
	margin-top: 105px;
	display: flex;
	justify-content: center;
	align-items: center;
	width:550px;
	height:355px;
	background-color: #c4c0b1;
	box-shadow: 0 0 75px rgba(0,0,0,0.5)
}


.discription__content_video video{
	display: none;/*РАЗОБРАТСЯ С ВЫВОДОМ ВИДЕО*/
}

.discription__content_button {
	color: #ffff;
	cursor: pointer;
	display: grid;
	place-items: center;
	background-color: #ff2d2d;
	width: 227px;
	height: 55px;
	border-radius: 5px ;
	font-size: 18.14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.025em;
	margin-bottom: 122px;
}

.discription__content_button:hover{
	transition: all 0.3s ease-in-out;
	background-color: white;
	border: 2px #ff2d2d solid ;
	color: #ff2d2d;
}

/*
.offers {
	display: flex;
	justify-content: center;
	background-color: #ffffff;
	height: 690px;
}
*/

.offers__content {
	float: left;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.offers__content_title {
	margin-top: 110px;
	margin-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	line-height: 55px;
	letter-spacing: 0.01em;
	font-weight: 900;
	font-size: 42px;
	color: #585858;
	max-width: 590px;
}

.offers__content_text {
	margin-bottom: 55px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000000;
	line-height: 28px;
	max-width:520px;
}

.offers__content_button {
	color: #ff2d2d;
	border: 2px #ff2d2d solid;
	cursor: pointer;
	display: grid;
	place-items: center;
	background-color: #ffffff;
	width: 227px;
	height: 55px;
	border-radius: 5px;
	font-size: 18.14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.025em;
	margin-bottom: 122px;
}

.offers__content_button:hover{
	transition: all 0.3s ease-in-out;
	background-color: #ff2d2d;
	border: 2px #ffffff solid ;
	color: #ffffff;
}


.offers__content_features {
	margin-top: 110px;
	margin-bottom: 60px;
	width: 50%;
	float: right;
	display: flex;
	flex-wrap: wrap;
}

.features {
	padding-left: 30px;
	margin-bottom: 50px;
	max-width:300px ;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.features__img {
	margin-bottom: 30px;
}

.features__title {
	margin-bottom: 25px;
	font-family: 'Open Sans', sans-serif;
	color:#737373;
	font-size: 24px;
	letter-spacing: 0.001em;
	font-weight: 600;
}

.features__text {
	font-family: 'Open Sans', sans-serif;
	color:#737373;
	font-size: 16px;
	line-height: 28px;
}

.separator{
	display: flex;
	background-color: #ececec;
	width: 1250px;
	height: 2px;
}

.redline{
	margin-top: 27px;
	margin-bottom: 87px;
	width: 130px;
	height: 2px;
	background-color: #ff2d2d;
}

.products_content{
display: flex;
flex-direction: column;
align-items: center;
}

.products_content_tite {
	margin-top: 105px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 42px;
	color:#585858;
	letter-spacing: 0.01em;
}

.products__content_text {
	text-align: center;
	margin-top: 35px;
	max-width: 510px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color:#737373;
}

.products__content_nav{
	margin-bottom: 65px;
}

.products__content_nav ul{
	display: flex;
	justify-content: space-between;
	width: 900px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: #737373;
	text-transform: uppercase;
}

.products__content_nav li{
	display: inline;
}

.current-products {
	color: #ff2d2d;
}

.products__content_galery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.products__content_galery div{
	margin-bottom: 20px;
	height: 290px;
	width: 300px;
	background-color: #f5f0dd;
}

.team__content{
	display: flex;
	flex-direction: column;
}
	
.team__content_tite {
	margin-top: 105px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 42px;
	color:#585858;
	letter-spacing: 0.01em;
}
	
.team__content_text {
	text-align: left;
	margin-top: 35px;
	max-width: 510px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color:#737373;
}

.team-info{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	
}

.team__banner {
	width: 320px;
	height: 460px;
	background-color: #f5f0dd;
}

.team__member_name {
	
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color:#585858;
	letter-spacing: 0.01em;
	font-weight: 600;
}

.team__member_bio {
	
	width: 640px;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	color:#737373;
}

.team__member_social{
	width: 380px;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	letter-spacing: 0.05em;
	color: #585858;
}

.team__list {

	width: 850px;
	display: flex;
	justify-content: space-between;
}

.team__list_img{
	height: 215px;
	width: 200px;
	background-color: #f5f0dd;
}

.team__list_img:hover{

}