@import "reset.css";

body{
	min-height: 4966px ;
	min-width: 1577px ;
}

.wrapper{
	max-width: 1250px;
	margin: 0 auto;
}

.top_part {
	padding-top: 30px;
	background-color: #f6f2f2;
	height: 690px;
}

.header__nav {
	margin: 0 auto;
	display: grid;
	place-items: center;
	height:90px ;
	width:1250px ;
	background-color: #313030;
}

.header__nav li{
	padding: 35px 35px 36px 35px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.035em;
	text-transform: uppercase;
	color:#e0e0e0;
	display: inline;
	transition: all 0.5s ease 0s;
}

.header__nav li:hover{
	cursor: pointer;
	background-color: #ff3f40;	
}

.current-page{
	background-color: #ff3f40;
}

.discription__content{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.discription__content_info{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.discription__content_title {
	margin-top: 100px;
	margin-bottom: 35px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	line-height: 72px;
	letter-spacing: 0.025em;
	font-weight: 800;
	font-size: 60px;
	color: black;
	
}

.discription__content_title span {
	letter-spacing: 0.1em;
	display: block;
}

.discription__content_text {
	margin-bottom: 60px;
	max-width: 510px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #6f6d6d;
	line-height: 28px;
}

.discription__content_video {
	cursor: pointer;
	margin-top: 105px;
	display: flex;
	justify-content: center;
	align-items: center;
	width:550px;
	height:355px;
	background-color: #c4c0b1;
	box-shadow: 0 0 75px rgba(0,0,0,0.5)
}


.discription__content_video video{
	display: none;/*РАЗОБРАТСЯ С ВЫВОДОМ ВИДЕО*/
}

.discription__content_button {
	color: #ffff;
	cursor: pointer;
	display: grid;
	place-items: center;
	background-color: #ff2d2d;
	width: 227px;
	height: 55px;
	border-radius: 5px ;
	font-size: 18.14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.025em;
	margin-bottom: 122px;
	transition: all 0.3s ease 0s;
}

.discription__content_button:hover{
	background-color: white;
	border: 2px #ff2d2d solid ;
	color: #ff2d2d;
}

.offers__content {
	float: left;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.offers__content_title {
	margin-top: 110px;
	margin-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	line-height: 55px;
	letter-spacing: 0.01em;
	font-weight: 900;
	font-size: 42px;
	color: #585858;
	max-width: 590px;
}

.offers__content_text {
	margin-bottom: 55px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000000;
	line-height: 28px;
	max-width:520px;
}

.offers__content_button {
	color: #ff2d2d;
	border: 2px #ff2d2d solid;
	cursor: pointer;
	display: grid;
	place-items: center;
	background-color: #ffffff;
	width: 227px;
	height: 55px;
	border-radius: 5px;
	font-size: 18.14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.025em;
	margin-bottom: 122px;
	transition: all 0.3s ease 0s;
}

.offers__content_button:hover{
	background-color: #ff2d2d;
	border: 2px #ffffff solid ;
	color: #ffffff;
}


.offers__content_features {
	margin-top: 110px;
	margin-bottom: 60px;
	width: 50%;
	float: right;
	display: flex;
	flex-wrap: wrap;
}

.features {
	padding-left: 30px;
	margin-bottom: 50px;
	max-width:300px ;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.features__img {
	margin-bottom: 30px;
}

.features__title {
	margin-bottom: 25px;
	font-family: 'Open Sans', sans-serif;
	color:#737373;
	font-size: 24px;
	letter-spacing: 0.001em;
	font-weight: 600;
}

.features__text {
	font-family: 'Open Sans', sans-serif;
	color:#737373;
	font-size: 16px;
	line-height: 28px;
}

.separator{
	display: flex;
	background-color: #ececec;
	width: 1250px;
	height: 2px;
}

.products_content{
display: flex;
flex-direction: column;
align-items: center;
}

.products_content_tite {
	margin-top: 105px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 42px;
	color:#585858;
	letter-spacing: 0.01em;
}

.products__content_text {
	text-align: center;
	margin-top: 35px;
	max-width: 510px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color:#737373;
}

.redline{
	margin-top: 27px;
	margin-bottom: 87px;
	width: 130px;
	height: 2px;
	background-color: #ff2d2d;
}

.products__content_nav{
	margin-bottom: 65px;
}

.products__content_nav ul{
	display: flex;
	justify-content: space-between;
	width: 900px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: #737373;
	text-transform: uppercase;
}

.products__content_nav li{
	display: inline;
	transition: all 0.5s ease 0s;
}

.products__content_nav li:hover{
	color:#ff2d2d;
}

.current-products {
	color: #ff2d2d;
}

.products__content_galery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.products__content_galery div{
	margin-bottom: 20px;
	height: 290px;
	width: 300px;
	background-color: #f5f0dd;
}

.products__content_galery img{
	width: 100%;
	height: auto;	
}

.team{
	margin-bottom: 110px;	
}

.team__content{
	display: flex;
	flex-direction: column;
}
	
.team__content_tite {
	margin-top: 105px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 42px;
	color:#585858;
	letter-spacing: 0.01em;
}
	
.team__content_text {
	text-align: left;
	margin-top: 35px;
	max-width: 510px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color:#737373;
}

.redline2{
	margin-top: 30px;
	margin-bottom: 70px;
	width: 130px;
	height: 2px;
	background-color: #ff2d2d;
}

.team__info {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	
}

.team__banner {
	width: 320px;
	height: 460px;
	background-color: #f5f0dd;
}

.team__banner img{
	width:100%;
	height: 100%;
	object-fit:cover;	
}

.team__member{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.team__member_portfolio-name {
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color:#585858;
	letter-spacing: 0.01em;
	font-weight: 600;
}

.team__member_portfolio-bio {
	margin-top: 35px;
	width: 640px;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	color:#737373;
}

.team__member_portfolio-social{
	margin-top: 45px;
	width: 380px;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	letter-spacing: 0.05em;
	color: #585858;
}

.team__member_list {
	width: 850px;
	display: flex;
	justify-content: space-between;
}

.team__member_list-img{
	height: 215px;
	width: 200px;
	background-color: #f5f0dd;
}

.team__member_list img{
	width:100%;
	height: 100%;
	object-fit:cover;	
}

.email{
background-color: #f5f0dd;
height: 515px;
}

.email__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.email__content_title {
	margin-top: 135px;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 0.025em;
	color: #fdfcf8;
}

.email__content_text {
	margin-top: 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #fdfcf8;
}

.email__content_form{
	margin-top: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.email__content_form-input {
	width:520px;
	height: 80px;
	border-radius: 3px;
	padding-left: 35px;
	font-family: 'Open Sans', sans-serif;
margin-right: 20px;
	
}

.email__content_form-button {
	text-transform: uppercase;
	color: #ffff;
	cursor: pointer;
	display: grid;
	place-items: center;
	background-color: #ff2d2d;
	width: 215px;
	height: 80px;
	border-radius: 5px ;
	font-size: 18px;
	line-height: 34px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 0.025em;
	transition: all 0.3s ease 0s;
}

.email__content_form-button:hover{
	background-color: white;
	border: 2px #ff2d2d solid ;
	color: #ff2d2d;
}

.getInTouch {
	
}

.getInTouch__content {
}

.getInTouch__content_title {
	margin-top: 105px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 42px;
	color:#585858;
	letter-spacing: 0.01em;
}

.getInTouch__content_text {
	margin-top: 50px;
	max-width: 730px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color:#737373;
}

.redline3{
	margin-top: 55px;
	margin-bottom: 75px;
	width: 130px;
	height: 2px;
	background-color: #ff2d2d;
}

.getInTouch__connection {
	display: flex;
	justify-content: space-between;
}

.getInTouch__connection_enter {
	padding-right: 20px;
	width: 750px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.getInTouch__connection_enter-name {
	padding-left: 55px;
	border-radius: 6px;
	height:70px ;
	width: 340px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 34px;
	letter-spacing: 0.025em;
	color:#737373;
	background-color: #e5e5e5;
}

.getInTouch__connection_enter-email {
	padding-left: 55px;
	border-radius: 6px;
	height:70px ;
	width: 340px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 34px;
	letter-spacing: 0.025em;
	color:#737373;
	background-color: #e5e5e5;
}

.getInTouch__connection_enter-text {
	margin-top: 45px;
	padding-top: 35px;
	padding-left: 55px;
	border-radius: 6px;
	height: 250px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 34px;
	letter-spacing: 0.025em;
	color:#737373;
	background-color: #e5e5e5;
	resize: none;
}

.getInTouch__connection_enter-button {
	margin-top: 45px;
	width: 100%;
	height: 72px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	background-color: #ff3b3b;
	font-size: 18px;
	line-height: 34px;
	letter-spacing: 0.025em;
	font-family: 'Open Sans', sans-serif;
	transition: all 0.3s ease 0s;
}

.getInTouch__connection_enter-button:hover {
	background-color: white;
	border: 2px #ff2d2d solid ;
	color: #ff2d2d;
}

.getInTouch__connection_info {
	position: relative;
	display: flex;
	flex-direction: column;
	
}

.getInTouch__connection_info-title {
	margin-top: 135px;
	font-weight: bold;
	color: #e0e0e0;
	font-size: 18px;
	line-height: 34px;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	font-family: 'Open Sans', sans-serif;

}

.getInTouch__connection_info-adress {
	margin-top: 20px;
	max-width: 290px;
	color: #e0e0e0;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
}

.getInTouch__connection_info-email {
	margin-top: 20px;
	color: #e0e0e0;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
}

.getInTouch__connection_info-phone {
	margin-top: 20px;
	color: #e0e0e0;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
}

.getInTouch__infoBlock{
	position: absolute;
	left: -80px;
	z-index: -1;
	width: 577px;
	height: 480px;
	background-color: #2d2d2d;
}

.footer {
	margin-top: 110px;
	width: 100%;
	height: 110px;
	background-color: #2d2d2d;
}

.footer__content{
	height: 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__content_text {
	color: #b8b8b8;
	font-size: 16px;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
}

.footer__content_social{
	width: 190px;
	display: flex;
	justify-content: space-between;
}